#about-section {
  width: 100%;
  max-width: 100%;
}

#about-section #about-me {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 140px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 761px) {
  #about-section #about-me {
    padding: 20px 10px;
  }
}

#about-section #about-me .my-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-height: 200px;
  min-width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#about-section #about-me .me-div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
}

#about-section #about-me .me-div > * {
  margin: 0 !important;
  margin-bottom: 20px !important;
}

#about-section #about-me .me-div span {
  color: #888;
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (max-width: 761px) {
  #about-section #about-me .me-div span {
    display: none;
  }
}

#about-section #about-me .me-div h1 {
  color: #173a5f;
  font-size: 44px;
  margin: 10px 0;
  padding: 0;
}

@media screen and (max-width: 761px) {
  #about-section #about-me .me-div h1 {
    font-size: 32px;
  }
}

#about-section #about-me .me-div p {
  width: 70%;
  font-size: 12px;
  line-height: 22px;
  color: #5b5e61;
}

@media screen and (max-width: 761px) {
  #about-section #about-me .me-div p {
    width: 100%;
  }
}

#about-section #about-me .me-div a {
  text-decoration: none;
  outline: none;
  padding: 15px 20px;
  color: white;
  background: linear-gradient(135deg, #19508a, #102e4e);
  border: 0;
  border-radius: 4px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media screen and (max-width: 761px) {
  #about-section #about-me .me-div a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

#about-section #about-me .me-div a:hover {
  -webkit-box-shadow: 0 0 7px #105cad;
          box-shadow: 0 0 7px #105cad;
}

#about-section #testimonial {
  width: 100%;
  max-width: 100%;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("/img/plant.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 761px) {
  #about-section #testimonial {
    padding: 0 10%;
  }
}

#about-section #testimonial > * {
  margin: 3vh 0;
}

#about-section #testimonial i {
  color: #105cad;
  font-size: 48px;
}

#about-section #testimonial p {
  color: white;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

@media screen and (max-width: 761px) {
  #about-section #testimonial p {
    font-size: 13px;
    line-height: 23px;
  }
}

#about-section #testimonial img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#about-section #testimonial > span {
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 761px) {
  #about-section #testimonial > span {
    font-size: 15px;
  }
}

#about-section #testimonial > span span.smaller {
  font-size: 14px;
}

@media screen and (max-width: 761px) {
  #about-section #testimonial > span span.smaller {
    font-size: 11px;
  }
}
/*# sourceMappingURL=about.css.map */