/* COLORS */
/* 
    COLOR 1 D: #3b163d
    COLOR 1 M: #413fa2
    COLOR 1 L: #c5f3fd

    COLOR 2 D: #200201
    COLOR 2 M: #351613
    COLOR 2 L: #523526

    Darkest: #000
    Dark: #0f0f0f

    Light: #cec7c4
    Lighter: #efefef
    Lightest: #fffbe2
*/

/* Font */
#index-body{
    font-family: roboto, sans-serif;
}

@media screen and (min-width: 762px){
    body{
        margin: 0;
    }

    #index-body{
        position: relative;
    }

    /* Header */
    #header{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        max-width: 100%;
        z-index: 10;
    }
    #header-logo{
        background-color: #0f0f0f;
        height: 100%;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0 20px;
    }
    #header-logo > img{
        width: 100px;
    }

    /* Header Nav */
    #header-nav{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        height: 60px;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #header-nav > div{
        margin: 0 1vw;
    }
    #header-nav a{
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        padding: 5px;
        border-radius: 4px;

        transition: all .2s;
    }
    #header-nav a:hover{
        color: #6d1515;
    }

    /* Action Side */
    #action-side{
        position: absolute;
        z-index: 5;
        height: 100vh;
        padding: 40px 20px;
        box-sizing: border-box;
        background-color: #0f0f0f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    #action-side a{
        outline: none;
        font-size: 20px;
        color: #838383;
        margin-bottom: 30px;

        transition: all .2s;
    }
    #action-side a:hover{
        color: #6d1515;
    }

    /* Action */
    #action{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        background-image: url('/img/action4.jpg');
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #action > #action-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 15vw;
    }
    #action > #action-main > #shape{
        height: 70vh;
        width: 100px;
        background: linear-gradient(135deg, #1b333e, #00060e);
        -webkit-clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
        clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
    }
    #action > #action-main > #attraction{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }
    #action > #action-main > #attraction > span{
        color: white;
        font-size: 80px;
        line-height: 80px;
        font-weight: bold;
        
    }
    #action > #action-main > #attraction > .call-to-action{
        color: white;
        text-align: center;
        background: #6d1515 ;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        border: 2px solid #6d1515 ;

        transition: all .3s;
    }
    #action > #action-main > #attraction > .call-to-action:hover{
        background: #520c0c;
        border-color: #520c0c;
        cursor: pointer;
        box-shadow: 0px 0px 5px #520c0c;
    }

    #action > #corner{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #action > #corner > #action-perks{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 5px;
        border-radius: 4px;
        background: #0c1a23;
    }
    #action > #corner > #action-perks > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin: 0 10px;
        text-align: center;
        border-bottom: 2px solid #173a5f;
        
    }
    #action > #corner > #action-perks > div > span:first-child{
        color: #6b88a7;
        font-size: 24px;
    }
    #action > #corner > #action-perks > div > span:last-child{
        color: #f1f1f1;
        font-size: 11px;
    }
    #action > #corner > #action-perks img{
        width: 60px;
        margin: 5px;
    }

    .active-nav-link{
        border-bottom: 4px solid #520c0c;
    }

    
}

@media screen and (max-width: 761px){
    body{
        margin: 0;
        width: 100%;
        height: 100%;
    }

    #index-body{
        position: relative;
        width: 100%;
    }
    
    #header{
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 60px;
        max-width: 100%;
        z-index: 10;
    }
    #header-logo{
        background-color: #0f0f0f;
        height: 100%;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0 20px;
    }
    #header-logo > img{
        width: 100px;
    }
    #header-nav{
        position: fixed;
        bottom: 0;
        z-index: 100;
        height: 60px;
        width: 100%;
        max-width: 100%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background: #04050a;
    }
    #header-nav > div{
    }
    #header-nav a{
        outline: none;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 10px;
        padding: 5px;
        border-radius: 4px;
    
        transition: all .2s;
    }
    #header-nav a:hover{
        color: #6d1515;
    }
    
    #action-side{
        
        position: absolute;
        height: 100%;
        padding: 40px 20px;
        box-sizing: border-box;
        background-color: #0f0f0f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        display: none;
    }
    #action-side a{
        outline: none;
        font-size: 20px;
        color: #838383;
        margin-bottom: 30px;
    
        transition: all .2s;
    }
    #action-side a:hover{
        color: #6d1515;
    }
    
    #action{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        max-width: 100%;
        background-image: url('/img/action4.jpg');
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #action > #action-main{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10vw;
    }
    #action > #action-main > #shape{
        height: 70vh;
        width: 50px;
        background: linear-gradient(135deg, #1b333e, #00060e);
        -webkit-clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
        clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
    }
    #action > #action-main > #attraction{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }
    #action > #action-main > #attraction > span{
        color: white;
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        
    }
    #action > #action-main > #attraction > .call-to-action{
        color: white;
        text-align: center;
        background: #6d1515 ;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        border: 2px solid #6d1515 ;
    
        transition: all .3s;
    }
    #action > #action-main > #attraction > .call-to-action:hover{
        background: #520c0c;
        border-color: #520c0c;
        cursor: pointer;
        box-shadow: 0px 0px 5px #520c0c;
    }
    
    #action > #corner{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    /* #action > #corner > #upward-text{
        color: white;
        font-size: 18px;
        width: 100%;
        transform: rotate(-90deg) translateY(60px);
        transform-origin: left;
        letter-spacing: 20px;
        text-align: center;
    } */
    #action > #corner > #perks{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 5px;
        border-radius: 4px;
        background: #0c1a23;
    }
    #action > #corner > #perks > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        margin: 0 10px;
        text-align: center;
        border-bottom: 2px solid #173a5f;
        display: none;
    }
    #action > #corner > #perks > div > span:first-child{
        color: #6b88a7;
        font-size: 14px;
    }
    #action > #corner > #perks > div > span:last-child{
        color: #f1f1f1;
        font-size: 9px;
    }
    #action > #corner > #perks img{
        width: 60px;
        margin: 5px;
    }
    
    .active-nav-link{
        border-bottom: 4px solid #520c0c;
    }
}

/* Services */
.section-heading{
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
}
.section-heading > span{
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
}
.section-heading > h1{
    color: #173a5f;
    font-size: 44px;
    margin: 10px 0;
    padding: 0;
}


#services{
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.service{
    min-height: 50vh;
    min-width: 200px;
    padding: 7vh 10px;
    margin: 10px 20px;
    box-sizing: border-box;
    /* border: 2px solid #4d89a5; */
    border-radius: 4px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    transition: all .4s;
}

@media screen and (max-width: 761px){
    .section-heading{
        text-align: center;
    }

    .service{
        height: auto;
    }
}

@media screen and (max-width: 761px){
    .service{
        height: auto;
    }
}

.service > img{
    height: 100px;
}
.service > hr{
    width: 50%;
    margin: 5px;
}
.service > h2{
    color: #173a5f;
}
.service > p{
    padding: 0 20px;
    font-size: 12px;
    line-height: 22px;
    color: #5b5e61;
    text-align: center;
}
.service > a{
    text-decoration: none;
    outline: none;
    padding: 7px 20px;
    color: #0c1a23;
    border: 1px solid #1b333e;
    border-radius: 4px;

    transition: all .2s;
}
.service > a:hover{
    color: #f1f1f1;
    background-color: #173a5f;
    box-shadow: 0 0 3px #6b88a7;
}

.service:hover{
    background: #173a5f;
}
.service:hover > h2, .service:hover > p{
    color: #fafafa;
}
.service:hover > hr{
    border-color: #fafafa;
}
.service:hover > a{
    color: #fafafa;
    border: 2px solid transparent;
}
.service:hover > a:hover{
    color: #fafafa;
    box-shadow: 0 0 0 #000;
    border-bottom: 2px solid #fafafa;
}

/* Perks */
#perks{
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.perk{
    min-height: 50vh;
    min-width: 200px;
    padding: 7vh 10px;
    margin: 10px 20px;
    box-sizing: border-box;
    /* border: 2px solid #4d89a5; */
    border-radius: 4px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    transition: all .4s;
}

@media screen and (max-width: 761px){
    .perk{
        height: auto;
    }
}

.perk > img{
    height: 100px;
}
.perk > hr{
    width: 50%;
    margin: 5px;
}
.perk > h2{
    color: #173a5f;
}
.perk > p{
    padding: 0 20px;
    font-size: 14px;
    line-height: 22px;
    color: #5b5e61;
    text-align: center;
}

.perk:hover{
    background: #173a5f;
}
.perk:hover > h2, .perk:hover > p{
    color: #fafafa;
}

/* About Me */
#about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 0;
    margin: 0 auto;
    width: 90%;
    background-color: #f1f1f1;
}
#about-me > .my-image{
    flex: 1 1 0;
    text-align: center;
    height: 100%;
}
#about-me > .my-image > img{
    max-height: 40vh;
}

#about-me > .me-div{
    flex: 1 1 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: 761px){
    #about-me{
        padding: 70px 0;
    }
    #about-me > .my-image{
        display: none;
    }
    #about-me > .me-div{
        align-items: center;
        text-align: center;
    }
}

#about-me > .me-div > *{
    margin: 0 !important;
    margin-bottom: 20px !important;
}
#about-me > .me-div > span{
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
}
#about-me > .me-div > h1{
    color: #173a5f;
    font-size: 44px;
    margin: 10px 0;
    padding: 0;
}
#about-me > .me-div > p{
    width: 70%;
    font-size: 12px;
    line-height: 22px;
    color: #5b5e61;
}
#about-me > .me-div > a{
    text-decoration: none;
    outline: none;
    padding: 15px 20px;
    color: white;
    background: linear-gradient(135deg, #19508a, #102e4e);
    border: 0;
    border-radius: 4px;

    transition: all .2s;
}
#about-me > .me-div > a:hover{
    box-shadow: 0 0 7px #105cad;
}

/* Testimonial */
#testimonial{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 140px 0;
    margin: 0 auto;
    width: 90%;
    background-color: #f1f1f1;
}

#testimonial > .client-image{
    flex: 1 1 0;
    text-align: center;
    height: 100%;
}
#testimonial > .client-image > img{
    max-height: 40vh;
}
#testimonial > .testimonial-div{
    flex: 1 1 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: 761px){
    #testimonial{
        padding: 70px 0;
    }
    #testimonial > .client-image{
        display: none;
    }
    #testimonial > .testimonial-div{
        align-items: center;
    }
}

#testimonial > .testimonial-div > *{
    margin: 0 !important;
    margin-bottom: 20px !important;
}
#testimonial > .testimonial-div > span{
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
}
#testimonial > .testimonial-div > h1{
    color: #173a5f;
    font-size: 36px;
    margin: 10px 0;
    padding: 0;
}
#testimonial > .testimonial-div > p{
    width: 70%;
    font-size: 12px;
    line-height: 22px;
    color: #5b5e61;
}

/* Contact Reminder */
#contact-reminder{
    height: 25vh;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img/questions.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
}
#contact-reminder > span{
    color: white;
    font-size: 36px;
    text-align: center;
}

#contact-reminder > a{
    text-decoration: none;
    outline: none;
    padding: 10px 20px;
    border: 1px solid #074e99;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background-color: #105cad;
    margin-top: 20px;

    transition: all .2s;
}
#contact-reminder > a:hover{
    background-color: transparent;
    color: #105cad;
}

@media screen and (max-width: 761px){
    #contact-reminder > span{
        font-size: 24px;
    }
    #contact-reminder > a{
        font-size: 12px;
    }
}

/* Footer */
#footer{
    width: 100%;
    height: 50vh;
    background-color: #021017;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer > div{
    margin: 2vh 0;
}
#footer-logo > img{
    height: 80px;
}
#footer-nav{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#footer-nav a{
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 5px;

    transition: all .2s;
}
#footer-nav a:hover{
    color: #ff0c0c;
}
#footer-links{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#footer-links a{
    outline: none;
    font-size: 20px;
    color: #7a7a7a;

    transition: all .2s;
}
#footer-links a:hover{
    color: #ff0c0c;
}
#copyright{
    font-size: 12px;
    color: #838383;
}
@media screen and (max-width: 761px){
    #footer{
        width: 100%;
        height: 50vh;
        margin-bottom: 60px;
        background-color: #021017;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #footer > div{
        margin: 2vh 0;
    }
    #footer-logo > img{
        height: 80px;
    }
    #footer-nav{
        display: none;
    }
    #footer-links{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #footer-links a{
        outline: none;
        font-size: 20px;
        color: #7a7a7a;
    
        transition: all .2s;
    }
    #footer-links a:hover{
        color: #ff0c0c;
    }
    #copyright{
        font-size: 12px;
        color: #838383;
        padding: 0 20px;
        text-align: center;
    }
}

/* Styles */
.red-span{
    color: #ff0c0c !important;
}
.blue-span{
    color: #105cad !important;
}